* {
   box-sizing: border-box;
   font-weight: 300;
}
a {
   text-decoration: none;
   color: inherit;
}
p {
   font-size:1.1em;
   margin-bottom: 2em;
}

h1 {
   font-weight: 400;
   font-size: 2.5em;
}
ul {
   list-style: none;
   padding: 0;
   .inner {
       padding-left: 1em;
       overflow: hidden;
       display: none;
       &.show {
        display: block;
       }
   }
   .li-table {
      background: #dfefff;
      max-height: 60px;
      width: 375px;
      border-style: solid;
      color: #65656b;
       margin: .5em 0;
  }
       .toggle {
           border-style: solid;
           max-height: 60px;
           width: 375px;
           display: block;
           background: $navd-color;
           color: #65656b;
           padding: .75em;
           border-radius: 0.15em;
           transition: background .3s ease;
           &:hover {
               background: #86f2cc;
           }
       }
   }

.add_task {
  float: right;
  overflow: auto;
}
.update {
  float: right;
  overflow: auto;
}
.delete {
  float: right;
  overflow: auto;
}

.delete_task {
  float: right;
  overflow: auto;
}
