
body {
  background-image: url('images/background.png');
  background-size: cover;
}

.vl {
  float: left;
}

.cp {
  float: left;
}

.lo {
  float: left;
}


.nav {
  background-color: #94918b;
}

.mdl-layout__drawer {
  background-color: #e0ddd5;
}

// .euro {
//   font-size: 25px;
//
// }

.mdl-layout__content {
  color:black;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  position: absolute;
  left: 80%;
  top: 80%;
}

.dialog1 {
  color: $red-color;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
  margin: 0 auto;
}
.dialog2 {
  color: $red-color;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
  margin: 0 auto;
}
.dialog3 {
  color: $green-color;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
  margin: 0 auto;


.dialog6 {
  color: $white-color;
  background: $green-color;
  margin: 0 auto;
  overflow: auto;
}

.dialog7 {
  color: $red-color;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
  margin: 0 auto;
}

.dialog8 {
  color: $green-color;
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
  margin: 0 auto;
}

}
.mdl-dialog__title {
    padding: 24px 24px 0;
    margin: 0;
    max-height: 55px;
    font-size: 1.8rem;
    text-align: center;
  }
.success_content {
  // padding: 20px 24px 24px 24px;
  // max-height: 100px;
  background: $green-color;
  color: white;
}
.error_content {
    // padding: 20px 24px 24px 24px;
    // max-height: 100px;
    background: $red-color;
    color: white; }

.dialog4 {
  background: $green-color;
  color: $white-color;
  margin: 0 auto;
  overflow: auto;
}

.dialog6 {
  color: $white-color;
  background: $green-color;
  margin: 0 auto;
  overflow: auto;
}

.dialog5 {
  left: 50%;
  margin: 0 auto;
  overflow: auto;
}


#dialog9 {
  color: #65656b;
  width: 450px;
  margin-top: 40%;
  margin: 0 auto;
  overflow: auto;
  border: none;
  background: $navd-color;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}

.todolist {
  background: $white-color;
}

.Update_list {
  background: $white-color;
  overflow: auto;
}

.close_cp {
  float: right;
  overflow: auto;
}

i.material-icons {
    cursor: pointer;
}
