
body {
  background-image: url('images/background.png');
  background-size: cover;
}


.nav {
  background-color: #94918b;
}

.mdl-layout__drawer {
  background-color: #e0ddd5;
}

.euro {
  font-size: 25px;

}


.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  position: absolute;
  left: 80%;
  top: 80%;
}
